[autotune_tmc stepper_x]
motor: ldo-42sth48-2504ah
tuning_goal: performance
voltage: 48
#sg4_thrs: 70 #sensorless homing
[autotune_tmc stepper_y]
motor: ldo-42sth48-2504ah
tuning_goal: performance
voltage: 48
#sg4_thrs: 75 #sensorless homing

[autotune_tmc stepper_x1]
motor: ldo-42sth48-2504ah
tuning_goal: performance
voltage: 48
#sg4_thrs: 70 #sensorless homing
[autotune_tmc stepper_y1]
motor: ldo-42sth48-2504ah
tuning_goal: performance
voltage: 48
#sg4_thrs: 75 #sensorless homing

[autotune_tmc stepper_z]
motor: moons-ms17hd6p420I-04
tuning_goal: performance
voltage: 24
[autotune_tmc stepper_z1]
motor: moons-ms17hd6p420I-04
tuning_goal: performance
voltage: 24
[autotune_tmc stepper_z2]
motor: moons-ms17hd6p420I-04
tuning_goal: performance
voltage: 24
[autotune_tmc stepper_z3]
motor: moons-ms17hd6p420I-04
tuning_goal: performance
voltage: 24
[autotune_tmc extruder]
motor: ldo-36sth17-1004ahg
tuning_goal: performance
voltage: 24
#####################################################################
# 	X/Y Stepper Settings
#####################################################################
#####################################################################
#                        B(Y) ---------A(X)
#                        |                |
#                        |                |
#                        |--------E-------|
#                        |                |
#                        |                |
#                        |X1              |Y1
#####################################################################
##                   X-axis on MOTOR_1(B Motor)
#####################################################################
[stepper_y]
step_pin: PE6                            # X-axis motor pulse pin setting
dir_pin: PE5                             # X-axis motor direction pin setting
enable_pin: !PC14                        # X-axis motor enable pin setting
microsteps: 32                           # Motor microsteps setting
rotation_distance: 40                    # Active pulley circumference in mm (2GT-20T pulley 40, 2GT-16T pulley 32)
full_steps_per_rotation: 200             # Number of pulses required for a single motor revolution (1.8 degree motor: 200, 0.9 degree motor: 400)
endstop_pin: ^PF3                  # ^PF4 # Limit switch pin setting (X-)
position_min: 0                          # X-axis minimum travel - software limit
position_endstop: 300                    # Mechanical reset point coordinates for X-axis (change to 350 for 350 models)
position_max: 300                        # X-axis maximum travel - software limit (change to 350 for 350 models)
homing_speed: 120                        # Reset speed - maximum 100, #200
homing_retract_dist: 5                   # Setback distance after the first trigger of the reset switch
homing_positive_dir: true                # Direction of reset (generally no change required)
#--------------------------------------------------------------------
[tmc5160 stepper_y]
cs_pin: PC13                              # Chip select pin for TMC2240 driver
spi_software_sclk_pin: PG8               # SPI software clock pin
spi_software_mosi_pin: PG6               # SPI software MOSI pin
spi_software_miso_pin: PG7               # SPI software MISO pin
run_current: 2.5                         # Motor running current value (A)
sense_resistor: 0.075                    # Sense resistor value
interpolate: true                        # Enable 256 microstep interpolation
stealthchop_threshold: 0                 # Mute threshold
#####################################################################
##                   Y-axis on MOTOR_2（A Motor）
#####################################################################
[stepper_x]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
microsteps: 32
rotation_distance: 40
endstop_pin: EBBCan:PB8
full_steps_per_rotation:200  
position_min: 0
position_endstop: 305
position_max: 305
homing_speed: 120 #200
homing_retract_dist: 5
homing_positive_dir: true
#--------------------------------------------------------------------
[tmc5160 stepper_x]
cs_pin: PE3
spi_software_sclk_pin: PG8
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
run_current: 2.5
sense_resistor: 0.075
interpolate: true
stealthchop_threshold: 0
#####################################################################
##                   X1-axis on MOTOR_3A
#####################################################################
[stepper_y1]
step_pin: PB8
dir_pin: PB7
enable_pin: !PE0
microsteps: 32
rotation_distance: 40
full_steps_per_rotation:200
#endstop_pin: ^PF2
#--------------------------------------------------------------------
[tmc5160 stepper_y1]
cs_pin: PB9
spi_software_sclk_pin: PG8
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
run_current: 2.5
sense_resistor: 0.075
interpolate: true
stealthchop_threshold: 0
#####################################################################
##                   Y1-axis on MOTOR_4
#####################################################################
[stepper_x1]
step_pin: PB4
dir_pin: PB3
enable_pin: !PB6
microsteps: 32
rotation_distance: 40
full_steps_per_rotation:200  
#endstop_pin: ^PF1
#--------------------------------------------------------------------
[tmc5160 stepper_x1]
cs_pin: PB5
spi_software_sclk_pin: PG8
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
run_current: 2.5
sense_resistor: 0.075
interpolate: true
stealthchop_threshold: 0

#####################################################################
# 	Z Stepper Settings
#####################################################################
#                          z1 -------------- z2
#                          |                 |
#                          |                 |
#                          |                 |
#                          |                 |
#                          |                 |
#                          |                 |
#                         z---   display ---z3
#####################################################################
##                  Z-axis on MOTOR_8 (left front)
#####################################################################
## Z Stepper - Front Left on MOTOR8
[stepper_z]
step_pin: PC7    		   # Z-axis motor pulse pin
dir_pin: PC8               # Z-axis motor direction pin setting
enable_pin: !PD2           # Z-axis motor enable pin setting
rotation_distance: 40      # Active pulley circumference mm (2GT-20T pulley 40, 2GT-16T pulley 32)
microsteps: 16             # microsteps
gear_ratio: 80:16          # reduction ratio
endstop_pin: probe:z_virtual_endstop # uses cartographer as virtual endstop
#position_endstop: 0 # cartographer needs this to be commented out
##  position_endstop is the distance of the Z limit pin trigger point from the print surface.
##  Positive value = above the termination point of the platform，
##  Negative value = termination point below the plateau.
##  Increasing the value of position_ endstop will bring the nozzle closer to the bed.
position_max: 280          # Maximum Z-axis print height   350mm=340
position_min: -5.0          # Soft Limit Minimum Stroke
homing_speed: 30           # Reset speed - maximum 20...50
second_homing_speed: 10     # Secondary reset speed - maximum 10
homing_retract_dist: 0     # Retreat distance
#--------------------------------------------------------------------
[tmc2209 stepper_z]
uart_pin: PC6              # drive communications port
interpolate: true          # Whether to enable 256 microstep interpolation
run_current: 1.2           # Motor running current value(mA)
sense_resistor: 0.110      # Do not change the drive sampling resistor
stealthchop_threshold: 999999 # Mute threshold #200
#####################################################################
##                  Z1-axis on MOTOR_5 (left rear)
#####################################################################
[stepper_z1]
step_pin: PG13
dir_pin: !PG12
enable_pin: !PG15
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
#--------------------------------------------------------------------
[tmc2209 stepper_z1]
uart_pin: PG14
interpolate: true
run_current: 1.2
sense_resistor: 0.110
stealthchop_threshold: 999999
#####################################################################
##                  Z2-axis on MOTOR_6 (right rear)
#####################################################################
[stepper_z2]
step_pin: PG9
dir_pin: PD7
enable_pin: !PG11
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
#--------------------------------------------------------------------
[tmc2209 stepper_z2]
uart_pin: PG10
interpolate: true
run_current: 1.2
sense_resistor: 0.110
stealthchop_threshold: 999999
#####################################################################
##                  Z3-axis on MOTOR_7 (right front)
#####################################################################
[stepper_z3]
step_pin: PD4
dir_pin: !PD3
enable_pin: !PD6
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
#--------------------------------------------------------------------
[tmc2209 stepper_z3]
uart_pin: PD5
interpolate: true
run_current: 1.2
sense_resistor: 0.110
stealthchop_threshold: 999999
